body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    margin: 3% 20%;
}

header {
    background: rgba(10, 10, 44, 0.651);
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.left_nav {
    display: flex;
    align-items: center;
}

.left_nav h2 {
    margin: 0 20px;
    font-size: 20px;
}

a {
    text-decoration: none;
    font-weight: 400;
    color: #fff;
}

.inactive {
    opacity: .6;
}

.inactive:hover {
    opacity: 1;
}

#h2:hover, #home_id:hover, #profile:hover {
    opacity: 1;
}

.nav_bar_section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.nav_bar_section h2 {
    margin: 0 5%;
    font-size: 20px;
}

a, #topic_id, .post_title, button {
    cursor: pointer;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container {
    flex: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.span_message {
    box-sizing: border-box;
    width: 80%;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
}

.high {
    height: 60vh;
}

.post_blog_form {
    flex: 40%;
    text-align: center;
    margin-top: 40px;
}

.post_form_area {
    text-align: left;
    width: 60%;
    opacity: .8;
    transition: 0.5s ease-in-out;
}

.post_form_area button, .post_form_area input, .post_form_area textarea {
    box-sizing: border-box;
    width: 100%;
}

.post_form_area input, .post_form_area textarea {
    padding: 10px;
    font-size: 17px;
}

.post_form_area button {
    padding: 10px;
    font-size: 20px;
    background: #5F5F75;
    color: #fff;
    border: 1px solid rgb(67, 67, 78);
    border-radius: 2px;
}

#span {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

#error_b {
    color:red;
}

/* 
.post_form_area button:hover {

} */

#post_form {
    /* display: none; */
}

#submit_post_btn {
    /* margin: 5px 0; */
}

.post_span {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    width: 95%;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.post_container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.span_div {
    width: 80%;
}

.post_item_div {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.post_item {
    opacity: .8;
    width: 100%;
    flex: 80%;
}

.profile_photo {
    flex: 2%;
    padding-top: 10px;
    text-align: center;
}

.profile_photo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post_item_details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post_item_wrapped {
    width: 95%;
    font-size: 18px;
    margin-top: 15px;
}

#topic_id {
    color: rgba(10, 10, 44, 0.651);
    margin: 0;
}

#timestamp {
    font-size:17px;
    opacity: .6;
}

.post_title:hover {
    text-decoration: underline;
    opacity: 1;
}

footer {
    background: #5F5F75;
    width: 100%;
    text-align: center;
    height: 50vh;
}

footer p {
    padding-top: 10px;
    color: #fff;
    opacity: .8;
}